
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueryTest</title>
</head>
<body>
    <!--For testing this query, demo controller / action method query test-->
    <!--Reassigned query string to the name property, QueryTest?name=Shallu Nah-->
    <h2>@ViewBag.Name</h2>
</body>
</html>
