
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h2>Welcome @ViewBag.Username</h2>
    <!-- navigate to the demo controller, with ASP Logout name, this action method will then need to be implemented  demo controller class-->
    <a asp-controller="Demo" asp-action="Logout">Logout</a>
</body>
</html>
